.categoryList {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.categoryItem {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
}

.categoryItem.reading {
    background-color: #ff7857;
}
.categoryItem.understanding {
    background-color: #ffb14f;
}
.categoryItem.listening {
    background-color: #7fb881;
}
.categoryItem.spelling {
    background-color: #da85c731;
}
.categoryItem.etc {
    background-color: #ff7887;
}
.categoryItem.speaking {
    background-color: #57c4ff31;
}
